html,
body {
    min-height: 100%;
}

.bg-sliit-primary {
    background-color: #00007a;
}

.bg-sliit-secondary {
    background-color: #f6730c;
}

.btn-outline-sliit-primary {
    background-color: inherit;
    border-color: #00007a;
    color: #00007a;

    &:hover {
        background-color: #00007a;
        color: white;
    }
}

.btn-outline-sliit-secondary {
    background-color: inherit;
    border-color: #f6730c;
    color: #f6730c;
}

.sxch-glass-back {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    padding: 20px;
    padding-bottom: 40px;
    -webkit-backdrop-filter: blur(5.8px);
}

.sxch-container {
    border-radius: 16px;
    backdrop-filter: blur(5.8px);
    padding: 20px;
    padding-bottom: 40px;
    -webkit-backdrop-filter: blur(5.8px);
}

.sxch-center {
    /* or absolute */
    position: fixed;
    top: 50%;
    left: 55%;
    margin-top: -40px;
    // margin-left: -40px;
}

// =========================================================== Loader =========================================
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #323A45;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

// ====================================================================================================